<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>活动列表</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pasta Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

	<!--<style>
	.blog-page-grids-bot1{
		background-color: #2F0000;
		height: 381.65px;
	}
</style>-->
<!-- start-smoth-scrolling -->
<link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					    <a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i><span>P</span>asta</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom active"><a href="index">主页</a></li>
							<li class="hvr-bounce-to-bottom"><a href="about">About</a></li>
							<li class="hvr-bounce-to-bottom"><a href="menu">菜系</a></li>
							<li class="hvr-bounce-to-bottom"><a href="diandan">我的订单</a></li>
							<li class="hvr-bounce-to-bottom"><a href="/active">活动</a></li>
							<li class="hvr-bounce-to-bottom"><a href="contact">登录</a></li>
						</ul>
					</div><!-- /navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- blog -->
	<div class="blog-page">
		<div class="container">
			<div class="blog-pag" th:each="event:${events}">
				<div class="blog-page-grids">
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img th:src="${event.eventPhoto}" src="" class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1" >
						<h4 th:text="${event.eventTitle}"><a> 标题</a></h4>
						<p></p>

						<div class="more">
							<a href="" th:href="('/acdetal'+${event.eventId})">查看详情</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

			<nav>
				<ul class="pagination blg-pg">
					<li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					<li class="page"><a>1</a></li>
					<!--<li><a href="/active">1</a></li>-->
					<li class="page"><a>2</a></li>
					<li class="page"><a>3</a></li>
					<li class="page"><a>4</a></li>
					<li class="page"><a>5</a></li>
					<li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
				</ul>
			 </nav>
		</div>
	</div>
<!-- //blog -->
<!--- footer --->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>Extras</h3>
					<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Recent Posts</h3>
					<ul>
						<li><a href="#">Vestibulum felis</a></li>
						<li><a href="#">Mauris at tellus</a></li>
						<li><a href="#">Donec ut lectus</a></li>
						<li><a href="#">vitae interdum</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="#">Hendrerit quam</a></li>
						<li><a href="#">Amet consectetur </a></li>
						<li><a href="#">Iquam hendrerit</a></li>
						<li><a href="#">Donec ut lectus </a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Contact Us</h3>
					<p>Pelleesque conquat dignissim lacus quis altrcies.</p>
					<div class="footer-grid-address">
						<p>Tel.800-255-9999</p>
						<p>Fax: 1234 568</p>
						<p>Email: <a class="email-link" href="mailto:info@example.com">Example.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="clear"> </div>

<!--- //footer --->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
<script type="text/javascript">
	$(".page").on('click',function(){
			alert(this.innerText);
			var page=this.innerText;
			$.ajax({
				url: "/active",
				type: "GET",
				data:{page:page},
				success:function (msg) {

                }

			})
	});
</script>
</body>

</html>