<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pasta Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					    <a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i><span>P</span>asta</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom"><a href="index.html">Home</a></li>
							<li class="hvr-bounce-to-bottom"><a href="about.html">About</a></li>
							<li class="hvr-bounce-to-bottom"><a href="menuseries.html">Menu</a></li>
							<li class="hvr-bounce-to-bottom"><a href="typo.html">Typo</a></li>
							<li class="hvr-bounce-to-bottom active"><a href="blog.html">Blog</a></li>
							<li class="hvr-bounce-to-bottom"><a href="contact.html">Contact Us</a></li>
						</ul>
					</div><!-- /navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- blog -->
	<div class="blog-page">
		<div class="container">
			<div class="blog-pag">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3><a href="single.html">Contrary wipopular belief,Lorem Ipsum is not simply</a></h3>
						<p>Published on<span> July 01</span></p>
					</div>
					<div class="blog-page-grid1">
						<p>18<a href="#"> Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img src="images/4.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1">
						<h4>porttitor accumsan tincidunt</h4>
						<p>Contrary wipopular belief,Lorem Ipsum is not simply 
						random text It has roots in a piece of
						classical Latin literature from
						Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
						nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
						eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
						porttitoraccumsan tincidunt.
						Curabitur aliquet quam id dui posuere blandit.
						Nulla Quis lorum nisl tempus convallis quis ac lactus.Sed porttitorlactus nibh
						eget tortor risus.Nulla porttitor accumsan tincidunt.</p>
						<div class="more">
							<a href="single.html">Learn More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="blog-pag">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3><a href="single.html">Curabitur aliquet quam id dui posuere blandit</a></h3>
						<p>Published on<span> Jun 24</span></p>
					</div>
					<div class="blog-page-grid1">
						<p>20<a href="#"> Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img src="images/5.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1">
						<h4>porttitor accumsan tincidunt</h4>
						<p>Contrary wipopular belief,Lorem Ipsum is not simply 
						random text It has roots in a piece of
						classical Latin literature from
						Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
						nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
						eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
						porttitoraccumsan tincidunt.
						Curabitur aliquet quam id dui posuere blandit.
						Nulla Quis lorum nisl tempus convallis quis ac lactus.Sed porttitorlactus nibh
						eget tortor risus.Nulla porttitor accumsan tincidunt.</p>
						<div class="more">
							<a href="single.html">Learn More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="blog-pag">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3><a href="single.html">Nulla porttitor congue malesuada.Curabitur non nulla</a></h3>
						<p>Published on<span> June 14</span></p>
					</div>
					<div class="blog-page-grid1">
						<p>21<a href="#"> Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<a href="single.html"><img src="images/7.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="blog-page-grids-bot1">
						<h4>porttitor accumsan tincidunt</h4>
						<p>Contrary wipopular belief,Lorem Ipsum is not simply 
						random text It has roots in a piece of
						classical Latin literature from
						Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
						nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
						eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
						porttitoraccumsan tincidunt.
						Curabitur aliquet quam id dui posuere blandit.
						Nulla Quis lorum nisl tempus convallis quis ac lactus.Sed porttitorlactus nibh
						eget tortor risus.Nulla porttitor accumsan tincidunt.</p>
						<div class="more">
							<a href="single.html">Learn More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<nav>
				<ul class="pagination blg-pg">
					<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				</ul>
			 </nav>
		</div>
	</div>
<!-- //blog -->
<!--- footer --->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>Extras</h3>
					<p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Recent Posts</h3>
					<ul>
						<li><a href="#">Vestibulum felis</a></li>
						<li><a href="#">Mauris at tellus</a></li>
						<li><a href="#">Donec ut lectus</a></li>
						<li><a href="#">vitae interdum</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="#">Hendrerit quam</a></li>
						<li><a href="#">Amet consectetur </a></li>
						<li><a href="#">Iquam hendrerit</a></li>
						<li><a href="#">Donec ut lectus </a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Contact Us</h3>
					<p>Pelleesque conquat dignissim lacus quis altrcies.</p>
					<div class="footer-grid-address">
						<p>Tel.800-255-9999</p>
						<p>Fax: 1234 568</p>
						<p>Email: <a class="email-link" href="mailto:info@example.com">Example.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="clear"> </div>
	<div class="copy-right">
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
	</div>
<!--- //footer --->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>