<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pasta Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
	<style>
		.div1{
			width:100%;
			height:58px;
			display: block;
		}
		.input{
			float: left;

		}
		.btu{
			width:30%;
			height:58px;
			background: #ffffff;
			font-size:14px;;
			color: rgba(137, 136, 136, 0.66);;
			line-height: 58px;
			float: right;
			outline: none;
			border: 1px solid transparent;
			border-bottom: 1px solid rgba(153, 153, 153, 0.35);
			border-top: 1px solid rgba(153, 153, 153, 0.35);
			border-right: 1px solid rgba(153, 153, 153, 0.35);
			border-left: 1px solid rgba(153, 153, 153, 0.35);
		}
	</style>
<!-- start-smoth-scrolling -->
<link href='http://fonts.useso.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					    <a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i><span>P</span>asta</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom active"><a href="index">主页</a></li>
						<li class="hvr-bounce-to-bottom"><a href="about">About</a></li>
						<li class="hvr-bounce-to-bottom"><a href="menu">菜系</a></li>
						<li class="hvr-bounce-to-bottom"><a href="diandan">我的订单</a></li>
						<li class="hvr-bounce-to-bottom"><a href="active">活动</a></li>
							<li class="hvr-bounce-to-bottom active"><a href="contact.html">登录</a></li>
						</ul>
					</div><!-- /navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="contact-main">
				<h3>Contact Us</h3>
				<div class="contact-top">
					<div class="col-md-6 contact-top-left">
						<iframe src="http://img4.imgtn.bdimg.com/it/u=1826507240,952231100&fm=26&gp=0.jpg" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div class="col-md-6 contact-top-right">
						<div class="contact-textarea">
							<form action="userreg" method="post">
								<input type="text" name="loginName" placeholder="用户名"/>
								<input type="text" name="loginPwd" placeholder="密码"/>
								
								<div class="div1">
									<input type="text" name="phoneNum" id="phone" maxlength="11" placeholder="请输入电话号码" class="input" style="width:70%; border-right: none; border-radius:0;"/>
									<button class="btu" type="button" id="btu">获取验证码</button>
								</div>

								<input type="text" maxlength="6" name="yzCode" placeholder="验证码"/>
								<!-- <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea> -->
								<input type="submit" value="提交" >
								<input type="reset" value="重置" >
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!-- //contact -->
<!--- footer --->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>用户帮助</h3>
					<p>联系客服</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>商务合作</h3>
					<ul>
						<li><a href="#">加盟指南</a></li>
						<li><a href="#">市场合作</a></li>
						<li><a href="#">开放平台</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>关于我们</h3>
					<ul>
						<li><a href="#">家肴介绍</a></li>
						<li><a href="#">加入我们</a></li>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">规则中心</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>24小时客服热线</h3>
					<!--<p>Pelleesque conquat dignissim lacus quis altrcies.</p>-->
					<p>800-255-9999</p>
					<!--<div class="footer-grid-address">
						<p>800-255-9999</p>
					</div>-->
				</div>
				<!--<div class="clearfix"> </div>-->
			</div>
		</div>
	</div>
	<!--<div class="clear"> </div>
	<div class="copy-right">
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
	</div>-->
<!--- //footer --->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<script type="text/javascript">
	$("#btu").click(function () {
		var phone = document.getElementById("phone").value;

		$.ajax({
			url: "reg2",
			type: "POST",
			data:{phone:phone},
			success:function (data) {
				alert(data);
            }
		})
    })
</script>
<!-- //for bootstrap working -->
</body>
</html>